.header__lang-link {
  margin: 0 0 6px;
  padding: 0;
  display: inline;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.16;
  text-align: right;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
} ;
