.place__paragraph {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  justify-self: flex-start;
  height: fit-content;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph:nth-child(2) {
    margin-top: 25px;
  }
}
